<!-- Selected Categories -->
<div id="categories-selected">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xs-2">
                <h2 class="jumbotron-heading text-white text-center no-select m-2">Categories Selected:</h2>
            </div>
            <div class="category-selected col-xs-2 bg-info rounded m-2 p-2 text-white"
                 ng-repeat="catSel in selectedCategories">
                <h5 class="d-inline-block m-0 pr-2">{{ catSel }}</h5>
                <button type="button" class="close" aria-label="Close" ng-click="toggleSelCat(catSel)">
                    <i aria-hidden="true">&times;</i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Categories -->
<div id="categories" class="bg-info">
    <div class="container">
        <!-- Top row -->
        <div class="row">
            <div class="categoryCard col-sm-3 no-select" ng-repeat="category in catCtrl.catFirstHalf"
                 ng-style="category.style">
                <div class="cat-img-outer" ng-click="toggleCategory(category)"
                     ng-mouseenter="toggleMouseEnter(category)" ng-mouseleave="toggleMouseLeave(category)">
                    <img class="cat-img" ng-src="{{ category.imgSrc }}">
                </div>
                <h5 class="cat-desc">{{ category.name }}</h5>
            </div>
        </div>
        <!-- Bottom row -->
        <div class="row">
            <div class="categoryCard col-sm-3 no-select" ng-repeat="category in catCtrl.catSecondHalf"
                 ng-style="category.style">
                <div class="cat-img-outer" ng-click="toggleCategory(category)"
                     ng-mouseenter="toggleMouseEnter(category)" ng-mouseleave="toggleMouseLeave(category)">
                    <img class="cat-img" ng-src="{{ category.imgSrc }}">
                </div>
                <h5 class="cat-desc">{{ category.name }}</h5>
            </div>
        </div>
    </div>
</div>

<!-- Submit button -->
<div class="container" ng-class="submitStyle">
    <div class="row">
        <div class="col-sm-3 m-2 p-2 mx-auto">
            <a role="button" href="#!/{{ catCtrl.gender }}/categories/submit" class="btn btn-danger btn-lg btn-block">Submit</a>
        </div>
    </div>
</div>