<!-- Alert -->
<div id="categories-alert" class="container pt-2">
    <div class="alert alert-warning fade show d-none" role="alert">
        <div class="icon d-inline-block"><i class="fas fa-exclamation-triangle"></i></div>
        <strong>Maximum traits reached!</strong> You can only select up to 5 traits. You must deselect a trait before
        adding another.
        <button type="button" class="close" aria-label="Close" ng-click="closeAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<!-- Categories -->
<div id="categories" class="pt-4" ng-click="testClick()">
    <div class="container">
        <!-- Top row -->
        <div class="row">
            <div id="cat-{{ cat.cat_name }}" class="cat-card col-6 col-sm-4 col-md-3 col-lg-2 no-select pb-4"
                 ng-class="catCardClass" ng-repeat="cat in categories" ng-mouseenter="mouseenter(cat)"
                 ng-mouseleave="mouseleave(cat)">
                <img class="cat-img img-fluid" ng-src="{{ cat.img_path }}">
                <h4 class="cat-desc text-center font-weight-light text-white">{{ cat.cat_name }}</h4>
                <div class="cat-img-overlay position-absolute" ng-click="toggleCat(cat)">
                    <div class="icon">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Submit button -->
<div id="categories-submit" class="container" ng-show="selectedCatsIsFull">
    <div class="row">
        <div class="col-4 m-2 p-2 mx-auto">
            <a role="button" href="#!/{{ catCtrl.gender }}/categories/submit"
               class="btn btn-lg btn-block" ng-click="submit()" ng-class="btnClass">
                <i class="fas fa-sign-in-alt"></i>
                Submit</a>
        </div>
    </div>
</div>