<div class="container name-list">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">Gabriel</li>
        <li class="list-group-item list-group-item-light">Axel</li>
        <li class="list-group-item list-group-item-info">Hayden</li>
        <li class="list-group-item list-group-item-light">Kade</li>
        <li class="list-group-item list-group-item-info">Blaze</li>
        <li class="list-group-item list-group-item-light">Tiger</li>
        <li class="list-group-item list-group-item-info">Michael</li>
        <li class="list-group-item list-group-item-light">Willie</li>
        <li class="list-group-item list-group-item-info">Lucius</li>
        <li class="list-group-item list-group-item-light">Aden</li>
    </ul>
</div>