<!-- Name list -->
<div id="nameList" class="container my-5" ng-class="listClass">
    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start"
             ng-repeat="name in nameList | orderBy: 'name_value'" ng-class-odd="listItemOddClass"
             ng-class-even="listItemEvenClass">
            <div class="d-flex flex-row w-100 justify-content-between">
                <div class="d-flex flex-column">
                    <h5 class="mb-1 text-capitalize">{{ name.name_value }}</h5>
                    <p class="mb-1 text-capitalize no-select">{{ name.cat_name }}</small>
                </div>
                <div class="d-flex flex-column name-list-img-container no-select">
                    <img class="img-fluid" ng-src="{{ name.img_path }}" alt="category image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- loader -->
<div class="spinner mx-auto" ng-show="loadingData">
    <div class="cube1"></div>
    <div class="cube2"></div>
</div>
