/*
 * Globals
 */
html {
    height: 100%;
    margin: 0;
    font-size: 14px;
}

body {
    height: 100%;
    margin: 0;
    background-image: url("../img/baby_wild.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.close-icon {
    cursor: pointer;
}

/*
 * Top navbar
 */
#top-navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

/*
 * Main
 */
#card-container {
    max-width: 540px;
}

#card-container .card {
    min-width: 220px;
    text-decoration: none;
    transition: transform .2s;
}

#card-container .card:hover {
    cursor: pointer;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

#card-container button:disabled {
    cursor: pointer;
}

/*
 * Boy card
 */
#boy-card {
    border-color: dimgray;
    background-color: rgba(240, 248, 255, 0.9);
    box-shadow: 0 .25rem 0.75rem #007bff;
}

#boy-card .card-header {
    border-bottom: none;
    background-color: #8de2f4;
}

#boy-card .card-footer {
    border-top: none;
}

#boy-card .card-footer .btn {
    color: white;
    background: #8de2f4;
    border-color: #8de2f4;
}

/*
 * Girl card
 */
#girl-card {
    border-color: dimgray;
    background-color: rgba(255, 228, 225, 0.9);
    box-shadow: 0 .25rem .75rem #ff0040;
}

#girl-card .card-header {
    border-bottom: none;
    background-color: #ff517c;
}

#girl-card .card-footer {
    border-top: none;
}

#girl-card .card-footer .btn {
    color: white;
    background: #ff517c;
    border-color: #ff517c;
}

/*
 * Categories Title
 */
.jumbotron.boys-title {
    background-color: rgba(240, 248, 255, 0.9);
}

/*
 * Categories
 */
#categories .container {
    max-width: 992px;
}

/*
 * Category card
 */
#categories .cat-card {
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari 3-8 */
    transform: scale(0);
    transition: transform 0.2s ease;
}

#categories .cat-card.show {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1);
}

#categories .cat-card:hover {
    cursor: pointer;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

/*
 * Category Image
 */
#categories .cat-card .cat-img {
    transition: filter 0.3s ease;
}

/* image overlay dark on hover */
#categories .cat-card:hover .cat-img {
    -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
    filter: brightness(50%);
}

/* image overlay always dark */
#categories .cat-card .cat-img.img-dark {
    -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
    filter: brightness(50%);
}

/* category image overlay */
#categories .cat-card .cat-img-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
}

/* show image overlay on hover */
#categories .cat-card:hover .cat-img-overlay {
    opacity: 1;
}

/* show image overlay */
#categories .cat-card .cat-img-overlay.show-icon {
    opacity: 1;
}

#categories .cat-card .cat-img-overlay .icon {
    color: white;
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translateY(22%);
    -ms-transform: translateY(22%);
    text-align: center;
}

/*
 * Category submit buttons
 */
.btn-boys {
    color: white;
    background-color: #8de2f4;
    border-color: #8de2f4;
}

.btn-boys:hover {
    color: white;
    background-color: #129eba;
    border-color: #129eba;
}

.btn-girls {
    color: white;
    background-color: #ff517c;
    border-color: #ff517c;
}

.btn-girls:hover {
    color: white;
    background-color: #cc0033;
    border-color: #cc0033;
}

/*
 * Categoriy Alert
 */
#categories-alert {
    max-width: 992px;
}

/*
 * Name list
 */
#nameList {
    max-width: 500px;
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari 3-8 */
    transform: scale(0);
    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

#nameList.show {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1);
}

/*
 * CSS Spinner
 */
.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

.cube1, .cube2 {
    background-color: white;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}